body{
    margin: 0;
    background: #242625;
}

.main-header{
    height: 4rem;
    background: #242635;
    position:sticky;

	top:0;

}
.l-container{
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 100%;
    color: white;
    
}
.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.main-menu li{
    padding: 0 20px;
}

a{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
}


/*main*/

main{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: repeat(3,auto);
    justify-items: center;
    padding-top: 30px;
    
}

.main-nombre{
    margin-left: 150px ;

}

.main-nombre h1{
    font-size: 150px;
    
    color: #24B0BE;
    margin: 0;
}

.main-nombre h2{
    font-size: 100px;
    margin: 0;
   
    color: white;
}

.main-nombre .parrafo{
    color: white;
    font-size: 40px;
    margin: 0;
    
}
.main-nombre hr{
    margin-bottom: 0;
   
}

.main-imagen{

    z-index: -100000;


}

.main-imagen img{

    width: 100%;
    height: 100%;
    border-radius: 50%;
    min-width: 20%;
 
  

}

.main-experiencia{
    margin-right: 50px;
}

.main-experiencia p{
    color: white;
    font-size: 45px;

}

.main-experiencia span{
    color: #24B0BE;
    padding-right: 5px;
}

.main-experiencia img{
    background: #D1CECA;
    width: 50px;
    
    border-radius: 50%;
    padding: 10px;
    margin: 0 15px;
}

.main-experiencia div{
    display: flex;
    justify-content: center;
}

.main-iconos{
   grid-column: 1 / span 3;
 justify-self: center;
   background: #212F3C;
  width:85%;
  position: relative;
 top: -10px;
 border-radius: 20px;
 z-index: -500;
}

.main-iconos div{
    display: flex;
  justify-content: center;
}

.main-iconos img{
    width: 10%;

  background: #D1CECA;
  padding: 0 15px;
  margin: 20px 10px;
  border-radius: 10px;
}

/*section*/
section{
 margin: 0 50px;
 padding: 0 100px;
}
section h2{
    text-align: center;
    font-size: 80px;
    margin-top: 40px ;
    margin-bottom: 20px;
    color: #24B0BE;
}

section p{
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 35px;
}

/* aside serivicios*/

aside{
    margin: 0 60px;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;

    grid-template-areas: "servicios servicios servicios"
                         "diseño marketing seo";
     
                         
  
}

aside p{
    color: #62707E;
    text-align: center;
    font-size: 20px;
}

aside h3{
    color: black;
    font-size: 25px;
}

aside .servicios{
    grid-area: servicios;
    text-align: center;
    font-size: 80px;
    color: #24B0BE;
    margin-bottom: 0;

}


aside .diseño{
    grid-area: diseño;
    background: white;
}

aside .marketing{
    grid-area: marketing;
    background: white;
}

aside .seo{
    grid-area: seo;
    background: white;
}

aside div{
    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 50px;
}

/*article habilidades*/

.habilidades {
    width: 100%;
   
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  

}

.habilidades h3{
    font-size: 80px;
    color: #24B0BE;
    margin-top: 40px;
    margin-bottom: 0;
}

.habilidades h4{
    font-size: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.caja{
    width: 80%;
}

.contenedor {
    width: 100%;
    height: 25px;
    border: 1px solid black;
    align-self: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 0;
}

.relleno {
    width: 0px;
    height: 100%;
    background: #24B0BE;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    animation-name: coloreado;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    animation-fill-mode: forwards;
}

.relleno2{
    animation-name: coloreado2;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    animation-fill-mode: forwards;
}

.relleno3{
    animation-name: coloreado3;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    animation-fill-mode: forwards;
}

.contenedor h2 {
    position: absolute;
    left: 45%;
    margin: 0 auto;
}

.contenedor h3 {
    text-align: center;
    margin: 10px auto;
}

@keyframes coloreado {
    10% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes coloreado2 {
    10% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes coloreado3 {
    10% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}


/*article portafolio*/
 .portafolio{
     display: flex;
     flex-wrap: wrap;
     
 }

 #portafolio h2{
  font-size: 70px;
  text-align: center;
  color: #24B0BE;
  margin-bottom: 0;
 }

 

 .portafolio div{
     width: 100%;
     margin: 10px;
 }

 .portafolio img{
     width: 100%;
     height: 100%;
     filter: opacity(0.8);
 }

@media screen and ( max-width: 768px){

 

.main-menu__item{
    padding: .5rem 0 .5rem 1rem
}

.main-menu__link{
    color: white;
    margin-left: 1rem;
}


    
.main-nav{
    position: fixed;
    height: calc(100vh - 4rem);
    width: 200px;
    background: black;
    top: 4rem;
    right: -200px;
    
   


}

.main-menu{
    flex-direction: column;
}

.main-menu li{
    padding: 10px 0;
}
    


.show{
right: 0px;
transition-duration: 1s;
transition-timing-function:ease-in-out
    
}

 :not(.show){
     transition-duration: 1s;
  transition-timing-function: ease-in
 }


.main-menu-toggle{
    width: 2.4rem;
    margin-left: calc(100% - 38.4px);
    height: 1.6rem;
    background: linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%);
    cursor: pointer;

}

/* main*/

.main-nombre{
    margin-left: 0px;
}

.main-nombre h1{
    font-size: 30px;
    
    color: #24B0BE;
    margin: 0;
}

.main-nombre h2{
    font-size: 20px;
    margin: 0;
  
    color: white;
}

.main-nombre .parrafo{
    color: white;
    font-size: 15px;
    margin: 0;
    
}


.main-experiencia{
    margin-right: 10px;
}

.main-experiencia p{
    color: white;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;

}



.main-experiencia img{
    background: #D1CECA;

    
    border-radius: 50%;
    padding: 10px;
    width: 10%;
    margin: 0 5px;
}

.main-iconos{
    border-radius: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
   
}

.main-iconos img{
    margin-top:10px ;
    margin-bottom:10px ;
}

section h2{
 font-size: 30px;
}

section{
    padding: 0;
    margin: 0 15px;
    
}
section p{
    font-size: 15px;
    padding: 0;
    line-height: 25px;
}

/* aside servicios */
aside h3{
    text-align: center;
    margin-bottom: 0;
}
aside{

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "servicios servicios servicios"
    "diseño diseño diseño"
     "marketing marketing marketing" "seo seo seo";
}

aside .servicios{
    font-size: 30px;
}

/*article*/
    .habilidades h3{
      font-size: 30px;
    }

    .habilidades h4{
        font-size: 20px;
    }

    .habilidades h2{
        font-size: 20px;
    }
}